.formSignUp {
  margin: 0 auto;
  width: 544px;
  padding: 32px;
  border: 1px solid var(--border-color-secondary);
}

.signUp {
  margin: 0 auto;
  width: 480px;
  height: 56px;
  background-color: var(--border-color);
  color: var(--button-text-color);
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}