.SignInWrapper{
  margin: 196px 0 200px 0;
}
.form_signin {
  background-color: var(--post-bg-color);
  margin: 0 auto;
  max-width: 544px;
  padding: 15px;
  border: 1px solid var(--border-color);
  padding: 0 16px;

}
.title1{
  background: none;
}
.title2{
  background: none;
}


.formTitle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 72px;
  border-bottom: 1px solid var( --border-color-secondary);

}

.btn_signin {
  width: 480px;
  height: 56px;
  font-family: 'Bebas Neue';
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  background-color: var(--text-primary);
  padding:16px 190px ;
  margin: 40px 0;
}

.SignInBtn{
  display: flex;
  padding: 0 32px;
}
.signInInput{
  font-family: 'Helios';
font-size: 16px;
font-weight: 700;
line-height: 32px;

}
