.formSignIn {
  margin: 0 auto;
  width: 544px;
  padding: 32px;
  border: 1px solid var(--border-color-secondary);
}

.title {
  margin-bottom: 32px;
  padding-bottom: 22px;
  border-bottom: 2px solid #313037;
  text-align: center;
}

.link {
  text-decoration: none;
  color: var(--text-primary);
}

.signIn {
  margin: 0 auto;
  width: 480px;
  height: 56px;
  background-color: var(--border-color);
  color: var(--button-text-color);
  align-items: center;
  justify-content: center;
}