.wrapperFavorite {
  margin: 0 auto;
}

.card {
  display: flex;
}

.imgWrapper {
  background-color: #FEE9E2;
  width: 256px;
  height: 192.18px;
}

.image {
  width: 163.9px;
  height: 191.46px;
  margin: 0 46px;
}

.description {
  width: 446px;
  flex-direction: column;
  margin: 0 32px;
}


.info {
  width: 352px;
  display: flex;
  justify-content: space-between;
}

.remove {
margin: 88px 19px 137px 330px;
align-content: end;
}

.btnRemove{
  background-color: var(--icon-color);
}
