.wrapper {
  width: 100%;
}

.tabs {
  justify-content: start; 
  padding: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  border-bottom: 2px solid var(--border-color-secondary);

  
}

.button {
  border-radius: 0px;
  background-color: transparent;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  width: 161px;
 justify-content: center; 
 
}

.button.active {
  border-bottom: 2px solid var(--text-primary);
 
}

.tab {
  font-size: 30px;
  border: none;
  border-bottom: 2px solid lightgray;
  color: black;
  background-color: white;

}

.tab:hover {
  cursor: pointer;
  color: lightblue;
  border-bottom: 2px solid black;
  transition: 0.3s;
}

.tab:disabled {
  color: gray;
}

.tab:hover.tab:disabled {
  cursor: default;
  border-bottom: 2px solid lightgray;
}