@font-face {
    font-family: "Helios Regular";
    src: url(../../fonts/Helios/HeliosC.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Helios Bold";
    src: url(../../fonts/Helios/HeliosC-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../../fonts/BebasNeue/BebasNeueBold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "DIN Pro";
    src: url(../../fonts/DINPro/DINPro.ttf);
    font-weight: 400;
}

.primary {
    color: var(--text-primary);
}

.primary2 {
    color: var(--text-primary2);
}

.secondary {
    color: var(--text-secondary);
}

.h1 {
    font-family: 'Bebas Neue';
    font-size: 56px;
    font-weight: 700;
    line-height: 64px;
}

.h2 {
    font-family: 'Bebas Neue';
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.h3 {
    font-family: 'Bebas Neue';
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.h4 {
    font-family: 'Bebas Neue';
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.h5 {
    font-family: 'Bebas Neue';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.h6 {
    font-family: 'Helios Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
}

.p {
    font-family: 'Helios Regular';
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
}

.span {
    font-family: 'Helios Bold';
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}