 body{
    background-color: var(--main-bg-color);
    margin: 0 auto;
    width: 1120px;
}
.wrapperMain{
   margin-bottom: 48px;
}

 .title {
    margin-bottom: 24px;
    color: var(--text-primary);
}  
.books {
  display: flex;
  flex-direction: row;
  align-items: start;
}
.subscribeWrapper {
  margin: 50px 0;
}

.pagination {
  margin-top: 50px;
}
