.wrapperCart{
  display: flex;
  justify-content: space-between;
}
.card{
  margin-bottom: 48px;
  display: flex;
  justify-content: space-around;
}
.imgWrapper {
    background-color: bisque;
    width: 256px;

  }
  .title{
    margin: 0;
  }
  .price{
    padding: 42px 0 42px 100px;
    align-items: center;


  }
  .img {
    width: 163.9px;
    padding: 0 46px;
  }
.description{
  display: flex;
  flex-direction: column;
  padding: 24px 0 0 32px;
  margin: 0;
}