.header {
    background-color: var(--header-bg-color);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
   max-width: 1120px;
    margin: 0 auto;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 72px;
}

.searchWrapper {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 24px 0px;
    position: relative;
}

.search {
    background-color: transparent;
    border: none;
    width: 542px;
    box-sizing: border-box;
    border: 1px solid var(--border-color-secondary);
    font-size: 16px;
    padding: 18px 30px;
    margin: 0 105px 0 154px;
    color: var(--text-primary);
}

.search:focus {
    outline: none;
    border-bottom-color: var(--text-primary);
    

}
  
.searchButton {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s; 
    background: none;
    border: none;
    position: absolute;
    top:30%;
    left:77%;
  }
  
.searchButton:hover {
    cursor: pointer;
    background-color: var(--main-bg-color);

}
  
.user {
    text-align: center;
    color: var(--text-primary);
}
  
.logo {
    width: 138px;
    height: 28.64px;
}
.navButtons {
    width: 184px;
    display: flex;
    justify-content: space-around;
    
}

.favButton {
    width: 56px;
    height: 56px;
    background: none;
    border: none;
}
.favButton:hover {
    cursor: pointer;

}
.shoppingBagButton {
    width: 56px;
    height: 56px;
    background: none;
    border: none;
}
.shoppingBagButton:hover {
    cursor: pointer;

}
.accountButton{
    width: 56px;
    height: 56px;
    background: none;
    border: none;
}
.accountButton:hover {
    cursor: pointer;

}
  