:root {
  --main-bg-color: #FFFFFF;
  --footer-bg-color: #FFFFFF;
  --post-bg-color: #ffffff;
  --header-bg-color: #ffffff;
  --button-text-color:#ffffff;
  --icon-color: #ffffff;
  --text-primary: #313037;
  --text-primary2: #5B5A62;
  --text-secondary: #A8A8A8;
  --text-error: rgb(226, 39, 39);
  --border-color: #313037;
  --border-color-secondary:#E7E7E7;
  --input-focus-border-color: rgba(49, 48, 55, 0.5);
  --input-error-border-color: rgba(226, 89, 39, 0.7);
  /* --font-family1:'Bebas Neue';
  --font-family2:'Helios';
  --font-family3:'DIN Pro'; */
}

body[data-theme="dark"] {
  --main-bg-color: #313037;
  --footer-bg-color: #313037;
  --post-bg-color: #313037;
  --header-bg-color: #313037;
  --button-text-color:#313037;
  --icon-color: #313037;
  --text-primary: #ffffff;
  --text-primary2: #5B5A62;
  --text-secondary: rgba(255, 255, 255, 0.5);
  --text-error: rgb(226, 39, 39);
  --border-color: #E7E7E7;
  --border-color-secondary: #313037;
  --input-focus-border-color: rgba(255, 255, 255, 0.7);
  --input-error-border-color: rgba(226, 89, 39, 0.7);
  /* --font-family1:'Bebas Neue';
  --font-family2:'Helios';
  --font-family3:'DIN Pro'; */
}
